
.bg-darkBlue {
  color: white!important;
  background: #181D31!important;
  
}

.bg-gumbo {
  border-color: #678983!important;
  background: #678983!important;
  color: white!important;
}


.nav-link:active,
.nav-link:focus,
.nav-link:hover{
background-color: #ffffff26;

}
